<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
          <iframe width="480" height="415" src="//www.youtube.com/embed/w_tQuvLUvQo" frameborder="0" allowfullscreen></iframe><br>
      </div>
      <div class="large-6 columns">
          <div class="affiliate panel">
            <h4 class="hide-for-small"><%= link_to "KaratBars International", "http://www.karatbarsinternational.org/" %><hr/></h4>
            <p class="regular-text">Member Support: 1-604-678-5590</br>
              Founded in 1994 by Harald Sei</br>
						  The Parent Company, KB Group is privately owned and debt free.</br>
							Optional Affiliate Program – Earn referral rewards when you refer others to exchange bad money for good money. 5 Streams of Income including residual income. "Fast Start” Incentive program where you will earn 180% more for the same efforts, immediately.</br>
						  <p class="regular-text">1. Free Account – No Fees</br>
								 2. Savings Account – Exchange bad 'Fiat' money for good money</br>
								 3. It’s not a Gold-Backed savings account it is GOLD in YOUR Account in YOUR name.</br>
								 4. Monthly plans or One-Time Exchange as often as you want.</br>
								 5. Great Hedge Against Inflation and protection against De-flation - Best Quality 999.9 LBMA certified gold bullion</br>
								 6. Get started slow or fast … for as little as $20 a week or the "sky" is the limit !</br>
								 7. Free Safe, Secure, Storage in St. Gotthard Masssif, Switzerland or Delivery in 50 countries and that list is growing</p>
            <a href="#" class="small button">Contact them now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
          <iframe width="480" height="415" src="//www.youtube.com/embed/C-bBVhN58M4" frameborder="0" allowfullscreen></iframe><br>
      </div>
      <div class="large-6 columns">
          <div class="affiliate panel">
            <h4 class="hide-for-small"><%= link_to "Trading Business Pros", "http://www.trainingbusinesspros.com/" %><hr/></h4>
            <p class="regular-text">Customer Support: North America: 1-877-790-PROS</br>
							Toronto: 416-229-4710</br>
              Founded by CEO Paul Tobey, successful jazz pianist, author, public speaker and trainer.</br>
						  Headquarters: Toronto,ON Canada</br>
							Training Business Pros is Canada's leading training company in internet marketing training, social media training and public speaking training.</br>
						  <p class="regular-text">Affiliate Membership (FREE)</p>
            <a href="#" class="small button">Contact them now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
          <iframe width="480" height="415" src="//www.youtube.com/embed/fVohlPKHSBE" frameborder="0" allowfullscreen></iframe></iframe><br>
      </div>
      <div class="large-6 columns">
          <div class="affiliate panel">
            <h4 class="hide-for-small"><%= link_to "Powerteam International", "http://www.ipowerteam.com/" %><hr/></h4>
            <p class="regular-text">Customer Support: 1-866-238-5920x222</br>
              Founded in 2006 by Bill Walsh, successful Venture Capitalist, Business Coach and international Entrepreneur.</br>
						  Headquarters: Chicago, Illinois.</br>
							In 30+ countries</br>
						  <p class="regular-text">PTI is the #1 Venture Capital, Business Coaching and Personal Development company in the world.</br>
								 Hosts events presenting with other top motivational speakers, authors and business legends, including T. Harv Eker, Brian Tracy, Mark Victor Hansen and Les Brown.</br>
								 Win-Win Business Relationships.... specific programs designed for personal success in today's challenging economy.</br>
								 Affiliate Membership (FREE)</br>
							</p>
            <a href="#" class="small button">Contact them now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
          <iframe width="480" height="415" src="//www.youtube.com/embed/w_tQuvLUvQo" frameborder="0" allowfullscreen></iframe><br>
      </div>
      <div class="large-6 columns">
          <div class="affiliate panel">
            <h4 class="hide-for-small"><%= link_to "Peak Potentials", "http://www.peakpotentials.com/" %><hr/></h4>
            <p class="regular-text">Client Care Team: 1-888-868-8883</br>
              Peak Potentials Training Inc. began in 1988, when the founder and president, T. Harv Eker, set out to inspire others by sharing the story of his own rise to success.</br>
						  Headquarters: Vancouver, Canada</br>
							In 100+ countries</br>
					  <p class="regular-text">PPT is one of the fastest growing business and personal success training companies in North America.</br>
							Affiliate Membership (FREE)</br>
						</p>
            <a href="#" class="small button">Contact them now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
 
 
 

