<div class="row">
  <div class="large-9 columns" role="content">
    <article>
      <h3 class="headers">At Nan Emporium our goal is to help entrepreneurs to
        connect, prosper and inspire</h3>

      <div class="row">

        <div class="large-6 columns">
          <p class="regular-text">Hi, I'm Nancy Carlson, here with my husband Paul Weldon.
						We have been in partnership as a couple for over 36 years. Our merged families include 3 children (Zoe, Matthew and Jeffery) and our grandsons (Cian and Caleb).</p>

          <p class="regular-text">This is our first attempt to venture into the world of Internet Marketing and to be truthful, we are finding ourselves to be strangers in a strange land. It seems our familiar comfort zone has quickly become obsolete. I'm talking about the 'pre-computer' days, when relationships were one-on-one, and a phone call was always answered by a real person.</p>
        </div>

        <div class="large-6 columns">
        	<div class="intro-video">
        		<iframe class="intro-video" width="340" height="280" src="//www.youtube.com/embed/rHS49q73wE0" frameborder="0" allowfullscreen></iframe>
					</div>
        </div>
      </div>

				<p class="regular-text">Our journey into cyber space is taking us on an adventure that involves absorbing an enormous learning curve dealing with the ominous, omnipotent presence of technology. Join us as we share our experiences and opportunities on this very personal and video-rich website.</p>
				 
				<p class="regular-text">Our newsletters will keep you updated about our activities
				in ANIM (Attraction - Network - Internet - Marketing). As well as our latest interviews for Paul's Place and Nancy's Place. I will also be writing essays about some of the realities and possibilities existing for us in today's challenging social-economic climate. The text will have lots of juicy video and music links and be accompanied with a video reading.</p>
				 
				<p class="regular-text">Perhaps most importantly we will be providing insightful tools and interviews with people who are aware and want to help with the transition to a new universal Mind-Shift, an awakening on our planet and the creation of a new Economic Paradigm.</p>
    </article>
  </div>
  <%= render 'layouts/aside' %>
</div>



