<div class="row">
  <div class="large-12 columns">
    <div class="nancy-header panel">
      <h4>Nancy's Place - Films and Videos</h4> 
    </div>
  </div>
</div> 

<div class="row">
  <div class="large-4 columns left">
  	<iframe width="303" height="230" src="//www.youtube.com/embed/aP6YIlwWqc4" frameborder="0" allowfullscreen></iframe>
    <h4>Deck Building.</h4>
    <p class="regular-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  
  <div class="large-4 columns left">
  	<iframe width="303" height="230" src="//www.youtube.com/embed/jGVyOyrNEJA" frameborder="0" allowfullscreen></iframe>
    <h4>Jon - A Singer's Debut</h4>
    <p class="regular-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  
  <div class="large-4 columns left">
  	<iframe width="303" height="230" src="//www.youtube.com/embed/b0ebj_eEcv8" frameborder="0" allowfullscreen></iframe>
    <h4>Our Dear Friend Gladys Celebrates her 108th Birthday</h4>
    <p class="regular-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="nancy-header panel">
      <h4>Nancy's Place - Interviews</h4> 
    </div>
  </div>
</div> 

<div class="row">
  <div class="large-4 columns left">
  	<iframe width="303" height="230" src="//www.youtube.com/embed/B5X58h8wQTw" frameborder="0" allowfullscreen></iframe>
    <h4>Guest: Melanie Smith</h4>
    <p class="regular-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  
  <div class="large-4 columns left">
  	<iframe width="303" height="230" src="//www.youtube.com/embed/_C8sZGSJ-_0" frameborder="0" allowfullscreen></iframe>
    <h4>Melanie meets Danish</h4>
    <p class="regular-text">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  
</div>


