
.nav-button {
  margin: 10px;
}

.nav-header {
	color: #c0392b;
	&:hover {
		color: #e74c3c;
	}
}

.panel {
  height: 350px;
}

.affiliate {
  height: 100%;
  padding: 3% 0 3% 0;
}

.nancy-header {
  height: 60px;  
}

.regular-text {
  font-family: 'Open Sans', sans-serif;
}

.headers {
  font-family: 'Signika', sans-serif;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
  color: black;
  font-weight: 800;
}

.button-group {
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
	a {
		color: black;
		padding-left: 7px;
		padding-right: 7px;
		font-size: 13px;
	}
}

.control-panel-buttons {
	list-style-type: none;
	li {
		background-color: grey;
		display: inline-block;
		padding: 15px 10px 10px 10px;
		margin: 10px;
		height: 60px;
		text-align: center;
		border-radius: 5px;
	}
	a {
		color: white;
		font-family: 'Open Sans', sans-serif;
	}
	li:hover {
		background-color: #2980b9;
		transition: 1s;
	}
}


