
.nav-button {
  margin: 10px;
}

.panel {
  height: 350px;
}

.affiliate {
  height: 800px;
}

.nancy-header {
  height: 60px;  
}

.regular-text {
  font-family: 'Open Sans', sans-serif;
}

.headers {
  font-family: 'Signika', sans-serif;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
  color: black;
  font-weight: 800;
}

.button-group {
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
	a {
		color: black;
		padding-left: 7px;
		padding-right: 7px;
		font-size: 13px;
	}
}



