<aside class="large-3 columns">
	<% unless @subscribed == true %>
	  <div class="panel">
	    <h3>Newsletter</h3>
	    <%= form_for @subscriber do |f| %>
		    <p>Sign-up above for our newsletter featuring free events, seminars along with inspirational music and video links.</p>
		    <%= f.text_field :email, { class: "email-input", placeholder: "  Your Email Here" } %>
		    <%= f.submit "Join Us", class: "radius button center" %>
	    <% end %>
	  </div>
    <% else %>
	    <div class="panel">
	      <h3>Thank You</h3>
	      <p>Check your email for sign up confirmation</p>
  	  </div>
  <% end %>
</aside>